{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- <main>
	{{>heading title="Index" info=data.test}}
</main> --}}

<div class="page">
	{{!-- <header class="header">
		<button class="button">
			<img width="24px" height="24px" src="/svg/header__back.svg" />
		</button>
		<button class="button">
			<img width="24px" height="24px" src="/img/header__avatar.png" />
		</button>
	</header>

	<h1 class="title">Ком'юніті</h1>


	<main class="info">

		<div class="info__categories">
			<div class="info__categories-item">
				<p class="category category--viewed">База знань</p>
			</div>
			<div class="info__categories-item">
				<p class="category">Інформація</p>
			</div>
		</div>

		<img src="/img/image.png" class="img" />

		<div class="info-main">
			<h2 class="info-main__title">Що таке база знань?</h2>

			<p class="info-main__text">
				База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в
				некоторой предметной области. В самообучающихся системах база знаний также содержит
				информацию, являющуюся результатом решения предыдущих задач.
			</p>
		</div>

		<button class="button button--accent">
			Перейти до ком'юніті у Телеграм
		</button>

	</main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}